body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

.app {
  display: flex;
}

.main {
  margin-left: 240px;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}